h2{
    color: green;
    font-style: italic;
}

.note {
    color: grey;
    padding-top: 20px;
    font-size: 10px;
}
.error {
    color: red;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 8px;
    padding: 10px;
    padding-bottom: 8px;

  }
